body{
    margin: 20px;
    padding: 20px;
    font-size: 11pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    background-image: url('../images/silverware.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    color: #404040;
}

h1, h3{
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
}

#page_title{
    font-size: 22pt;
    text-align: center;
}

.cancled_word{
    text-decoration: line-through;
}

#recipe_1{
    list-style: none;
}

.comment{
    background-color: rgba(255, 255, 0, 0.356);
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}

ul{
    list-style-image: url('../images/pie_icon.gif');
}

#copy_text{
    margin-left: -8em;
}

.right{
    text-align: right;
}nav ul li {
    display: inline;
}
li a:hover {
    background-color: rgb(231, 21, 102); }

    li a{ text-decoration: none}
    .ima{
        float: right;
     }   
     nav li{
        display: inline;

        
    }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
    }
    
    nav li {
        float: left;
    }
    
    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: black;
    }